.popup__container {
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  width: 430px;
  position: relative;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, .5);
}

@media screen and (max-width: 630px) {
  .popup__container {
    width: 282px;
  }
}
